In [39]:
#dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import seaborn as sns
from scipy import stats
import os

In [2]:
# Store filepath in a variable
csv_path = "Resources/Life_Expectancy.csv"

In [3]:
#READ IN CSV
life_exp = pd.read_csv(csv_path, encoding="utf-8")
life_exp

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [47]:
life_exp.groupby(["Year"]).mean()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,
2000,66.750273,181.475410,37.540984,4.570714,473.850781,74.035294,4663.792350,34.424862,53.726776,76.277778,5.585475,73.627778,2.530055,4708.515191,9.440444e+06,5.147514,5.244751,0.512214,10.512717
2001,67.128962,175.169399,36.825137,4.555659,516.625910,73.957895,4640.262295,36.135912,52.038251,77.950000,5.599609,76.661111,2.573770,4854.527638,1.007057e+07,4.957459,5.055249,0.563012,10.950289
2002,67.351366,171.437158,35.584699,4.660934,476.794487,76.522124,3204.754098,37.110497,50.300546,79.679558,5.687989,78.883978,2.573770,4599.303043,6.625328e+06,5.166298,5.118232,0.568006,11.140462
2003,67.433333,169.131148,34.874317,4.690495,494.706547,74.099237,3708.792350,36.440331,48.584699,80.353591,5.827444,78.867403,2.546995,4774.835677,1.015988e+07,4.924309,5.023757,0.572399,11.308092
2004,67.646448,186.262295,33.644809,4.753681,772.336156,77.985507,2805.497268,36.572376,47.092896,80.165746,5.859111,79.823204,2.478689,7055.889709,1.685299e+07,4.936464,5.029282,0.584168,11.547399
2005,68.209290,167.633880,32.366120,4.846409,823.318110,80.911565,3200.551913,35.607735,45.306011,80.972376,5.920722,81.674033,2.345902,7249.787557,1.828185e+07,5.099448,5.195580,0.596445,11.675723
2006,68.667760,170.404372,31.808743,4.917692,828.776319,81.894040,2063.224044,37.534254,44.273224,84.527473,5.699000,82.236264,2.169399,7347.033143,1.536564e+07,5.115470,5.157459,0.632312,11.917919
2007,69.036066,159.808743,30.612022,5.014066,954.458468,81.584906,1557.540984,36.977901,42.732240,84.802198,5.631056,84.318681,1.992896,8537.243114,1.853530e+07,5.034807,4.976243,0.639000,12.038150
2008,69.427869,174.519126,29.568306,5.007088,1095.802669,83.644172,1523.229508,38.225414,41.322404,85.565934,5.723056,84.857143,1.797268,10604.040364,9.487742e+06,4.907182,4.941436,0.645717,12.176301
2009,69.938251,163.393443,28.956284,4.889231,719.827424,84.277108,1522.606557,39.583425,39.770492,85.329670,6.528389,85.060440,1.538798,7060.615022,9.132068e+06,4.786740,4.718232,0.651434,12.310983
2010,70.048634,161.863388,27.928962,4.943626,768.221388,80.732143,1878.721311,38.513812,38.546448,83.890110,6.151222,82.741758,1.273770,7464.487887,1.181332e+07,4.659116,4.639779,0.655197,12.446821
2011,70.654098,156.535519,26.830601,4.871648,1029.534746,84.041176,1963.562842,39.849724,36.918033,84.442623,5.974056,87.087432,1.092896,9685.908944,1.129574e+07,4.594475,4.568508,0.674555,12.604624
2012,70.916940,148.792350,26.338798,4.138187,1011.471726,82.635294,1244.382514,40.099448,35.562842,83.939891,6.251271,85.907104,0.926776,10378.875046,1.252438e+07,4.584530,4.598895,0.679572,12.724277
2013,71.236066,148.765027,23.968912,3.924450,836.623984,83.148352,1455.150259,42.111640,32.419689,84.642487,6.385026,86.207254,0.744560,8152.675657,1.235609e+07,4.470370,4.425397,0.685648,12.688333
2014,71.536612,148.688525,24.557377,3.271319,1001.912550,83.115607,1831.207650,41.030939,32.890710,84.726776,6.200994,84.081967,0.681967,10015.568494,2.106296e+07,4.532597,4.676243,0.688393,12.887283
2015,71.616940,152.863388,23.803279,5.288333,2.383906,82.425287,1502.901639,42.754144,31.612022,83.207650,7.080000,84.633880,0.660656,7185.331746,1.109741e+07,4.534807,4.575691,0.691740,12.927168

In [40]:
#reduce GDP to 2000-2015

csv_file = os.path.join('Resources','GDP_1970_to_2018_wLatLng.csv')
gdp_data = pd.read_csv(csv_file)
gdp_data.head()

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2012,2013,2014,2015,2016,2017,2018,2019,Latitude,Longitude
0,Afghanistan,AFG,0.174889,0.183111,0.159556,0.173333,0.215556,0.236667,0.255556,0.295333,...,2.000162,2.056105,2.048487,1.990711,1.936264,2.019176,1.936297,NaN,33.939110,67.709953
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231978,1.277628,1.322824,1.138693,1.186135,1.302506,1.510250,NaN,41.153332,20.168331
2,Algeria,DZA,0.486349,0.507722,0.676179,0.871511,1.320971,1.555793,1.772835,2.097190,...,20.906289,20.975476,21.380881,16.597843,16.003293,16.739027,17.375795,NaN,28.033886,1.659626
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064400,0.064100,0.064200,0.066100,0.065200,0.060200,0.063600,NaN,-14.270972,-170.132217
4,Andorra,AND,0.007862,0.008941,0.011341,0.015082,0.018656,0.022013,0.022728,0.025402,...,0.316462,0.328159,0.335074,0.281149,0.287731,0.301339,0.323654,NaN,42.506285,1.521801

In [41]:
gdp_summary_df = gdp_data.describe()
gdp_summary_df = gdp_summary_df.T
gdp_summary_df = gdp_summary_df.reset_index()
gdp_summary_df = gdp_summary_df.rename(columns={'index':'Year'})
gdp_summary_df.head()

,Year,count,mean,std,min,25%,50%,75%,max
0,1970,126.0,2.213508,10.075194,0.001430,0.032290,0.149733,0.877160,107.3303
1,1971,127.0,2.427800,10.946762,0.001528,0.034894,0.166650,0.896681,116.4850
2,1972,127.0,2.802478,12.200024,0.001894,0.041050,0.191071,0.961574,127.9110
3,1973,127.0,3.419085,13.956601,0.002420,0.051529,0.234480,1.387484,142.5376
4,1974,128.0,3.910219,15.148053,0.003151,0.056503,0.291005,1.624305,154.5243

In [43]:
mean_GDP_over_time = gdp_summary_df.groupby('Year')['mean'].first()

Year
1970    2.213508
1971    2.427800
1972    2.802478
1973    3.419085
1974    3.910219
Name: mean, dtype: float64

In [49]:
new_life = life_exp.groupby(["Year"]).mean()
new_life

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Year,,,,,,,,,,,,,,,,,,,
2000,66.750273,181.475410,37.540984,4.570714,473.850781,74.035294,4663.792350,34.424862,53.726776,76.277778,5.585475,73.627778,2.530055,4708.515191,9.440444e+06,5.147514,5.244751,0.512214,10.512717
2001,67.128962,175.169399,36.825137,4.555659,516.625910,73.957895,4640.262295,36.135912,52.038251,77.950000,5.599609,76.661111,2.573770,4854.527638,1.007057e+07,4.957459,5.055249,0.563012,10.950289
2002,67.351366,171.437158,35.584699,4.660934,476.794487,76.522124,3204.754098,37.110497,50.300546,79.679558,5.687989,78.883978,2.573770,4599.303043,6.625328e+06,5.166298,5.118232,0.568006,11.140462
2003,67.433333,169.131148,34.874317,4.690495,494.706547,74.099237,3708.792350,36.440331,48.584699,80.353591,5.827444,78.867403,2.546995,4774.835677,1.015988e+07,4.924309,5.023757,0.572399,11.308092
2004,67.646448,186.262295,33.644809,4.753681,772.336156,77.985507,2805.497268,36.572376,47.092896,80.165746,5.859111,79.823204,2.478689,7055.889709,1.685299e+07,4.936464,5.029282,0.584168,11.547399
2005,68.209290,167.633880,32.366120,4.846409,823.318110,80.911565,3200.551913,35.607735,45.306011,80.972376,5.920722,81.674033,2.345902,7249.787557,1.828185e+07,5.099448,5.195580,0.596445,11.675723
2006,68.667760,170.404372,31.808743,4.917692,828.776319,81.894040,2063.224044,37.534254,44.273224,84.527473,5.699000,82.236264,2.169399,7347.033143,1.536564e+07,5.115470,5.157459,0.632312,11.917919
2007,69.036066,159.808743,30.612022,5.014066,954.458468,81.584906,1557.540984,36.977901,42.732240,84.802198,5.631056,84.318681,1.992896,8537.243114,1.853530e+07,5.034807,4.976243,0.639000,12.038150
2008,69.427869,174.519126,29.568306,5.007088,1095.802669,83.644172,1523.229508,38.225414,41.322404,85.565934,5.723056,84.857143,1.797268,10604.040364,9.487742e+06,4.907182,4.941436,0.645717,12.176301
2009,69.938251,163.393443,28.956284,4.889231,719.827424,84.277108,1522.606557,39.583425,39.770492,85.329670,6.528389,85.060440,1.538798,7060.615022,9.132068e+06,4.786740,4.718232,0.651434,12.310983
2010,70.048634,161.863388,27.928962,4.943626,768.221388,80.732143,1878.721311,38.513812,38.546448,83.890110,6.151222,82.741758,1.273770,7464.487887,1.181332e+07,4.659116,4.639779,0.655197,12.446821
2011,70.654098,156.535519,26.830601,4.871648,1029.534746,84.041176,1963.562842,39.849724,36.918033,84.442623,5.974056,87.087432,1.092896,9685.908944,1.129574e+07,4.594475,4.568508,0.674555,12.604624
2012,70.916940,148.792350,26.338798,4.138187,1011.471726,82.635294,1244.382514,40.099448,35.562842,83.939891,6.251271,85.907104,0.926776,10378.875046,1.252438e+07,4.584530,4.598895,0.679572,12.724277
2013,71.236066,148.765027,23.968912,3.924450,836.623984,83.148352,1455.150259,42.111640,32.419689,84.642487,6.385026,86.207254,0.744560,8152.675657,1.235609e+07,4.470370,4.425397,0.685648,12.688333
2014,71.536612,148.688525,24.557377,3.271319,1001.912550,83.115607,1831.207650,41.030939,32.890710,84.726776,6.200994,84.081967,0.681967,10015.568494,2.106296e+07,4.532597,4.676243,0.688393,12.887283
2015,71.616940,152.863388,23.803279,5.288333,2.383906,82.425287,1502.901639,42.754144,31.612022,83.207650,7.080000,84.633880,0.660656,7185.331746,1.109741e+07,4.534807,4.575691,0.691740,12.927168

In [54]:
new_life.reset_index(level=0, inplace=True)
new_life.head()

,level_0,index,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0,0,2000,66.750273,181.475410,37.540984,4.570714,473.850781,74.035294,4663.792350,...,76.277778,5.585475,73.627778,2.530055,4708.515191,9.440444e+06,5.147514,5.244751,0.512214,10.512717
1,1,1,2001,67.128962,175.169399,36.825137,4.555659,516.625910,73.957895,4640.262295,...,77.950000,5.599609,76.661111,2.573770,4854.527638,1.007057e+07,4.957459,5.055249,0.563012,10.950289
2,2,2,2002,67.351366,171.437158,35.584699,4.660934,476.794487,76.522124,3204.754098,...,79.679558,5.687989,78.883978,2.573770,4599.303043,6.625328e+06,5.166298,5.118232,0.568006,11.140462
3,3,3,2003,67.433333,169.131148,34.874317,4.690495,494.706547,74.099237,3708.792350,...,80.353591,5.827444,78.867403,2.546995,4774.835677,1.015988e+07,4.924309,5.023757,0.572399,11.308092
4,4,4,2004,67.646448,186.262295,33.644809,4.753681,772.336156,77.985507,2805.497268,...,80.165746,5.859111,79.823204,2.478689,7055.889709,1.685299e+07,4.936464,5.029282,0.584168,11.547399

In [65]:
#pd.concat([new_life, gdp_summary_df], ignore_index=True)

merge_table = pd.merge(new_life, gdp_summary_df, on='Year')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat