In [1]:
#dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import seaborn as sns
from scipy import stats

In [2]:
# Store filepath in a variable
csv_path = "Resources/Life_Expectancy.csv"

In [3]:
#READ IN CSV
life_exp = pd.read_csv(csv_path, encoding="utf-8")
life_exp

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [4]:
#reduce GDP to 2000-2015

csv_path_2 = "Resources/GDP_1970_to_2018_wLatLng.csv"

gdp_life = pd.read_csv(csv_path_2)
gdp_life

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2012,2013,2014,2015,2016,2017,2018,2019,Latitude,Longitude
0,Afghanistan,AFG,0.174889,0.183111,0.159556,0.173333,0.215556,0.236667,0.255556,0.295333,...,2.000162,2.056105,2.048487,1.990711,1.936264,2.019176,1.936297,NaN,33.939110,67.709953
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231978,1.277628,1.322824,1.138693,1.186135,1.302506,1.510250,NaN,41.153332,20.168331
2,Algeria,DZA,0.486349,0.507722,0.676179,0.871511,1.320971,1.555793,1.772835,2.097190,...,20.906289,20.975476,21.380881,16.597843,16.003293,16.739027,17.375795,NaN,28.033886,1.659626
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064400,0.064100,0.064200,0.066100,0.065200,0.060200,0.063600,NaN,-14.270972,-170.132217
4,Andorra,AND,0.007862,0.008941,0.011341,0.015082,0.018656,0.022013,0.022728,0.025402,...,0.316462,0.328159,0.335074,0.281149,0.287731,0.301339,0.323654,NaN,42.506285,1.521801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,United States Virgin Islands,VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.409500,0.376200,0.362200,0.374800,0.386300,0.385500,NaN,NaN,18.335765,-64.896335
211,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.127940,1.247600,1.271560,1.267300,1.342570,1.449810,1.461590,NaN,31.946570,35.302723
212,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134,4.041523,4.322859,4.262833,3.096824,2.681870,2.691440,NaN,15.552727,48.516388
213,Zambia,ZMB,0.182529,0.168700,0.191071,0.226871,0.312183,0.261867,0.274671,0.248300,...,2.550337,2.804546,2.715063,2.124335,2.095475,2.586814,2.672007,NaN,-13.133897,27.849332
214,Zimbabwe,ZWE,0.188421,0.217872,0.267773,0.330935,0.398216,0.437130,0.431837,0.436438,...,1.711485,1.909102,1.949552,1.996312,2.054868,2.281301,3.100052,NaN,-19.015438,29.154857

In [7]:
#reduce gdp to 2000-2015

reduced_gdp = gdp_life[["Country Name","2000","2001","2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]]
reduced_gdp

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,NaN,NaN,0.405518,0.451556,0.522678,0.620914,0.697129,0.974789,1.010922,1.243909,1.585657,1.780428,2.000162,2.056105,2.048487,1.990711
1,Albania,0.348036,0.392210,0.434807,0.561149,0.718468,0.805208,0.889607,1.067732,1.288135,1.204422,1.192696,1.289087,1.231978,1.277628,1.322824,1.138693
2,Algeria,5.478607,5.474325,5.675811,6.786614,8.532477,10.319844,11.703094,13.497873,17.099754,13.721482,16.120507,20.001536,20.906289,20.975476,21.380881,16.597843
3,American Samoa,NaN,NaN,0.051400,0.052700,0.051200,0.050300,0.049600,0.052000,0.056300,0.067800,0.057600,0.057400,0.064400,0.064100,0.064200,0.066100
4,Andorra,0.143443,0.149691,0.173312,0.239865,0.293566,0.325579,0.354326,0.401697,0.400735,0.366053,0.335570,0.344206,0.316462,0.328159,0.335074,0.281149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,United States Virgin Islands,NaN,NaN,0.326900,0.345300,0.379900,0.443900,0.450400,0.480300,0.425000,0.420300,0.433900,0.423900,0.409500,0.376200,0.362200,0.374800
211,West Bank and Gaza,0.431360,0.400370,0.355580,0.396800,0.432920,0.483180,0.491010,0.550580,0.667350,0.726820,0.891310,1.046540,1.127940,1.247600,1.271560,1.267300
212,Yemen,0.965244,0.986156,1.069463,1.177797,1.387279,1.674634,1.906198,2.165053,2.691085,2.513027,3.090675,3.272642,3.540134,4.041523,4.322859,4.262833
213,Zambia,0.360068,0.409448,0.419385,0.490184,0.622108,0.833187,1.275686,1.405696,1.791086,1.532834,2.026556,2.346010,2.550337,2.804546,2.715063,2.124335
214,Zimbabwe,0.668996,0.677738,0.634212,0.572759,0.580560,0.575522,0.544390,0.529195,0.441570,0.966579,1.204166,1.410192,1.711485,1.909102,1.949552,1.996312

In [8]:
reduced_gdp = reduced_gdp.dropna(how='any')
reduced_gdp

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Albania,0.348036,0.392210,0.434807,0.561149,0.718468,0.805208,0.889607,1.067732,1.288135,1.204422,1.192696,1.289087,1.231978,1.277628,1.322824,1.138693
2,Algeria,5.478607,5.474325,5.675811,6.786614,8.532477,10.319844,11.703094,13.497873,17.099754,13.721482,16.120507,20.001536,20.906289,20.975476,21.380881,16.597843
4,Andorra,0.143443,0.149691,0.173312,0.239865,0.293566,0.325579,0.354326,0.401697,0.400735,0.366053,0.335570,0.344206,0.316462,0.328159,0.335074,0.281149
5,Angola,0.912959,0.893606,1.528559,1.781271,2.355205,3.697092,5.238101,6.526645,8.853861,7.030716,8.379950,11.178969,12.805285,13.670986,14.571220,11.619365
6,Antigua and Barbuda,0.083016,0.080074,0.081462,0.085564,0.091958,0.102219,0.115701,0.131140,0.136843,0.122425,0.114870,0.113764,0.119995,0.118145,0.124973,0.133669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Vietnam,3.117252,3.268520,3.506411,3.955251,4.542785,5.763326,6.637166,7.741443,9.913030,10.601466,11.593175,13.553944,15.582000,17.122203,18.620465,19.324111
211,West Bank and Gaza,0.431360,0.400370,0.355580,0.396800,0.432920,0.483180,0.491010,0.550580,0.667350,0.726820,0.891310,1.046540,1.127940,1.247600,1.271560,1.267300
212,Yemen,0.965244,0.986156,1.069463,1.177797,1.387279,1.674634,1.906198,2.165053,2.691085,2.513027,3.090675,3.272642,3.540134,4.041523,4.322859,4.262833
213,Zambia,0.360068,0.409448,0.419385,0.490184,0.622108,0.833187,1.275686,1.405696,1.791086,1.532834,2.026556,2.346010,2.550337,2.804546,2.715063,2.124335
214,Zimbabwe,0.668996,0.677738,0.634212,0.572759,0.580560,0.575522,0.544390,0.529195,0.441570,0.966579,1.204166,1.410192,1.711485,1.909102,1.949552,1.996312

In [13]:
#re-arrange columns so they are in rows

print (reduced_gdp.set_index(['year','month','day'])
         .stack()
         .reset_index(name='value')
         .rename(columns={'level_3':'hour'}))

SyntaxError: positional argument follows keyword argument (<ipython-input-13-d48e1f322800>, line 3)