In [54]:
 # Dependencies
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# Adding options to display all of the rows of DataFrame w/o truncation
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [55]:
file_path = os.path.join('Resources','GDP_last_50.csv')
gdp_df = pd.read_csv(file_path)
gdp_df = gdp_df.drop(['Series Name', 'Series Code'], axis=1)
gdp_df.head()

,Country Name,Country Code,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],1982 [YR1982],1983 [YR1983],1984 [YR1984],1985 [YR1985],1986 [YR1986],1987 [YR1987],1988 [YR1988],1989 [YR1989],1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,1748886596,1831108971,1595555476,1733333264,2155555498,2366666616,2555555567,2953333418,3300000109,3697940410,3641723322,3478787909,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,4055176933,4515563414,5226775163,6209140044,6971286732,9747886105,10109218068,12439087077,15856574731,17804280538,20001615789,20561054090,20484873230,19907111419,19362642267,20191764940,19362969582,..
1,Albania,ALB,..,..,..,..,..,..,..,..,..,..,..,..,..,..,1857338012,1897050133,2097326250,2080796250,2051236250,2253090000,2028553750,1099559028,652174990.8,1185315468,1880951520,2392764853,3199642580,2258515610,2545967253,3212119044,3480355189,3922099471,4348070165,5611492283,7184681399,8052075642,8896073938,10677321490,12881353985,12044223458,11926962835,12890867536,12319784701,12776277649,13228244336,11386927679,11861353752,13025064967,15102500898,..
2,Algeria,DZA,4863487493,5077222367,6761786387,8715105930,13209713643,15557934268,17728347375,20971901273,26364491313,33243422158,42345277342,44348672668,45207088716,48801369800,53698278906,57937868670,63696301893,66742267773,59089067187,55631489802,62045099643,45715367087,48003298223,49946455211,42542571306,41764052458,46941496780,48177862502,48187747529,48639108361,54786074940,54743249369,56758113501,67866141224,85324767230,1.03198E+11,1.17031E+11,1.34979E+11,1.70998E+11,1.37215E+11,1.61205E+11,2.00015E+11,2.09063E+11,2.09755E+11,2.13809E+11,1.65978E+11,1.60033E+11,1.6739E+11,1.73758E+11,..
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,514000000,527000000,512000000,503000000,496000000,520000000,563000000,678000000,576000000,574000000,644000000,641000000,642000000,661000000,652000000,602000000,636000000,..
4,Andorra,AND,78619206.09,89409820.36,113408231.9,150820102.8,186558696.3,220127246.4,227281024.6,254020153.3,308008897.6,411578334.2,446416105.8,388958731.3,375895956.4,327861832.9,330070689.3,346737964.8,482000594,611316399.4,721425939.2,795449332.4,1029048482,1106928583,1210013652,1007025755,1017549124,1178738991,1223945357,1180597273,1211932398,1239876305,1434429703,1496912752,1733116883,2398645598,2935659300,3255789081,3543256806,4016972351,4007353157,3660530703,3355695364,3442062830,3164615187,3281585236,3350736367,2811489409,2877311947,3013387424,3236543909,..

### All of the data is in string format!

In [72]:
# Everything in the .csv file is in strings
gdp_df.dtypes

Country Name     object
Country Code     object
1970 [YR1970]    object
1971 [YR1971]    object
1972 [YR1972]    object
1973 [YR1973]    object
1974 [YR1974]    object
1975 [YR1975]    object
1976 [YR1976]    object
1977 [YR1977]    object
1978 [YR1978]    object
1979 [YR1979]    object
1980 [YR1980]    object
1981 [YR1981]    object
1982 [YR1982]    object
1983 [YR1983]    object
1984 [YR1984]    object
1985 [YR1985]    object
1986 [YR1986]    object
1987 [YR1987]    object
1988 [YR1988]    object
1989 [YR1989]    object
1990 [YR1990]    object
1991 [YR1991]    object
1992 [YR1992]    object
1993 [YR1993]    object
1994 [YR1994]    object
1995 [YR1995]    object
1996 [YR1996]    object
1997 [YR1997]    object
1998 [YR1998]    object
1999 [YR1999]    object
2000 [YR2000]    object
2001 [YR2001]    object
2002 [YR2002]    object
2003 [YR2003]    object
2004 [YR2004]    object
2005 [YR2005]    object
2006 [YR2006]    object
2007 [YR2007]    object
2008 [YR2008]    object
2009 [YR2009]    object
2010 [YR2010]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
dtype: object

In [57]:
# split the dfs to convert to numeric
gdp_country_df = gdp_df[['Country Name', 'Country Code']]
gdp_yearly_df = gdp_df[list(gdp_df.columns)[2:]]

# Replace '..' with NaN and convert to numeric
gdp_yearly_df = gdp_yearly_df.replace('..',np.nan)
gdp_yearly_df = gdp_yearly_df.apply(pd.to_numeric)

# Convert to US$ in Billions
gdp_yearly_df = gdp_yearly_df/10E9

# Re-combine the country and gdp data
gdp_clean_df = pd.concat([gdp_country_df, gdp_yearly_df], axis=1)

gdp_clean_df.head()

,Country Name,Country Code,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],1982 [YR1982],1983 [YR1983],1984 [YR1984],1985 [YR1985],1986 [YR1986],1987 [YR1987],1988 [YR1988],1989 [YR1989],1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,0.174889,0.183111,0.159556,0.173333,0.215556,0.236667,0.255556,0.295333,0.330000,0.369794,0.364172,0.347879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.405518,0.451556,0.522678,0.620914,0.697129,0.974789,1.010922,1.243909,1.585657,1.780428,2.000162,2.056105,2.048487,1.990711,1.936264,2.019176,1.936297,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.185734,0.189705,0.209733,0.208080,0.205124,0.225309,0.202855,0.109956,0.065217,0.118532,0.188095,0.239276,0.319964,0.225852,0.254597,0.321212,0.348036,0.392210,0.434807,0.561149,0.718468,0.805208,0.889607,1.067732,1.288135,1.204422,1.192696,1.289087,1.231978,1.277628,1.322824,1.138693,1.186135,1.302506,1.510250,NaN
2,Algeria,DZA,0.486349,0.507722,0.676179,0.871511,1.320971,1.555793,1.772835,2.097190,2.636449,3.324342,4.234528,4.434867,4.520709,4.880137,5.369828,5.793787,6.369630,6.674227,5.908907,5.563149,6.204510,4.571537,4.800330,4.994646,4.254257,4.176405,4.694150,4.817786,4.818775,4.863911,5.478607,5.474325,5.675811,6.786614,8.532477,10.319800,11.703100,13.497900,17.099800,13.721500,16.120500,20.001500,20.906300,20.975500,21.380900,16.597800,16.003300,16.739000,17.375800,NaN
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051400,0.052700,0.051200,0.050300,0.049600,0.052000,0.056300,0.067800,0.057600,0.057400,0.064400,0.064100,0.064200,0.066100,0.065200,0.060200,0.063600,NaN
4,Andorra,AND,0.007862,0.008941,0.011341,0.015082,0.018656,0.022013,0.022728,0.025402,0.030801,0.041158,0.044642,0.038896,0.037590,0.032786,0.033007,0.034674,0.048200,0.061132,0.072143,0.079545,0.102905,0.110693,0.121001,0.100703,0.101755,0.117874,0.122395,0.118060,0.121193,0.123988,0.143443,0.149691,0.173312,0.239865,0.293566,0.325579,0.354326,0.401697,0.400735,0.366053,0.335570,0.344206,0.316462,0.328159,0.335074,0.281149,0.287731,0.301339,0.323654,NaN

In [58]:
# Rename YEAR columns
# Create a dictionary to update year titles in the column headers
a_dict={}
year_headers = (list(gdp_clean_df)[2:])
for year in year_headers:
    a_dict.update({year:year[0:4]})
gdp_clean_df = gdp_clean_df.rename(columns=a_dict)
gdp_clean_df.head()

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,0.174889,0.183111,0.159556,0.173333,0.215556,0.236667,0.255556,0.295333,0.330000,0.369794,0.364172,0.347879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.405518,0.451556,0.522678,0.620914,0.697129,0.974789,1.010922,1.243909,1.585657,1.780428,2.000162,2.056105,2.048487,1.990711,1.936264,2.019176,1.936297,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.185734,0.189705,0.209733,0.208080,0.205124,0.225309,0.202855,0.109956,0.065217,0.118532,0.188095,0.239276,0.319964,0.225852,0.254597,0.321212,0.348036,0.392210,0.434807,0.561149,0.718468,0.805208,0.889607,1.067732,1.288135,1.204422,1.192696,1.289087,1.231978,1.277628,1.322824,1.138693,1.186135,1.302506,1.510250,NaN
2,Algeria,DZA,0.486349,0.507722,0.676179,0.871511,1.320971,1.555793,1.772835,2.097190,2.636449,3.324342,4.234528,4.434867,4.520709,4.880137,5.369828,5.793787,6.369630,6.674227,5.908907,5.563149,6.204510,4.571537,4.800330,4.994646,4.254257,4.176405,4.694150,4.817786,4.818775,4.863911,5.478607,5.474325,5.675811,6.786614,8.532477,10.319800,11.703100,13.497900,17.099800,13.721500,16.120500,20.001500,20.906300,20.975500,21.380900,16.597800,16.003300,16.739000,17.375800,NaN
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051400,0.052700,0.051200,0.050300,0.049600,0.052000,0.056300,0.067800,0.057600,0.057400,0.064400,0.064100,0.064200,0.066100,0.065200,0.060200,0.063600,NaN
4,Andorra,AND,0.007862,0.008941,0.011341,0.015082,0.018656,0.022013,0.022728,0.025402,0.030801,0.041158,0.044642,0.038896,0.037590,0.032786,0.033007,0.034674,0.048200,0.061132,0.072143,0.079545,0.102905,0.110693,0.121001,0.100703,0.101755,0.117874,0.122395,0.118060,0.121193,0.123988,0.143443,0.149691,0.173312,0.239865,0.293566,0.325579,0.354326,0.401697,0.400735,0.366053,0.335570,0.344206,0.316462,0.328159,0.335074,0.281149,0.287731,0.301339,0.323654,NaN

In [59]:
gdp_clean_df.tail(10)

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.326900,0.345300,0.379900,0.443900,0.450400,0.480300,0.425000,0.420300,0.433900,0.423900,0.409500,0.376200,0.362200,0.374800,0.386300,0.385500,NaN,NaN
213,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.284330,0.328280,0.340960,0.375980,0.406780,0.427120,0.431360,0.400370,0.355580,0.396800,0.432920,0.483180,0.491010,0.550580,0.667350,0.726820,0.891310,1.046540,1.127940,1.247600,1.271560,1.267300,1.342570,1.449810,1.461590,NaN
214,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.564712,0.593037,0.646365,0.536827,0.416736,0.425879,0.578569,0.683856,0.632514,0.764110,0.965244,0.986156,1.069463,1.177797,1.387279,1.674634,1.906198,2.165053,2.691085,2.513027,3.090675,3.272642,3.540134,4.041523,4.322859,4.262833,3.096824,2.681870,2.691440,NaN
215,Zambia,ZMB,0.182529,0.168700,0.191071,0.226871,0.312183,0.261867,0.274671,0.248300,0.281338,0.332550,0.382950,0.387267,0.399478,0.321631,0.273944,0.228126,0.166195,0.226989,0.371361,0.399864,0.328522,0.337888,0.318192,0.327324,0.365665,0.380707,0.359722,0.430328,0.353768,0.340431,0.360068,0.409448,0.419385,0.490184,0.622108,0.833187,1.275686,1.405696,1.791086,1.532834,2.026556,2.346010,2.550337,2.804546,2.715063,2.124335,2.095475,2.586814,2.672007,NaN
216,Zimbabwe,ZWE,0.188421,0.217872,0.267773,0.330935,0.398216,0.437130,0.431837,0.436438,0.435160,0.517746,0.667887,0.801137,0.853970,0.776407,0.635213,0.563726,0.621752,0.674122,0.781478,0.828632,0.878382,0.864148,0.675147,0.656381,0.689068,0.711127,0.855315,0.852957,0.640197,0.685801,0.668996,0.677738,0.634212,0.572759,0.580560,0.575522,0.544390,0.529195,0.441570,0.966579,1.204166,1.410192,1.711485,1.909102,1.949552,1.996312,2.054868,2.281301,3.100052,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# drop last 5 all NaN rows becuase there is no data in there
gdp_clean_df = gdp_clean_df.dropna(how = 'all')
gdp_clean_df.tail()

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.326900,0.345300,0.379900,0.443900,0.450400,0.480300,0.425000,0.420300,0.433900,0.423900,0.409500,0.376200,0.362200,0.374800,0.386300,0.385500,NaN,NaN
213,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.284330,0.328280,0.340960,0.375980,0.406780,0.427120,0.431360,0.400370,0.355580,0.396800,0.432920,0.483180,0.491010,0.550580,0.667350,0.726820,0.891310,1.046540,1.127940,1.247600,1.271560,1.267300,1.342570,1.449810,1.461590,NaN
214,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.564712,0.593037,0.646365,0.536827,0.416736,0.425879,0.578569,0.683856,0.632514,0.764110,0.965244,0.986156,1.069463,1.177797,1.387279,1.674634,1.906198,2.165053,2.691085,2.513027,3.090675,3.272642,3.540134,4.041523,4.322859,4.262833,3.096824,2.681870,2.691440,NaN
215,Zambia,ZMB,0.182529,0.168700,0.191071,0.226871,0.312183,0.261867,0.274671,0.248300,0.281338,0.332550,0.382950,0.387267,0.399478,0.321631,0.273944,0.228126,0.166195,0.226989,0.371361,0.399864,0.328522,0.337888,0.318192,0.327324,0.365665,0.380707,0.359722,0.430328,0.353768,0.340431,0.360068,0.409448,0.419385,0.490184,0.622108,0.833187,1.275686,1.405696,1.791086,1.532834,2.026556,2.346010,2.550337,2.804546,2.715063,2.124335,2.095475,2.586814,2.672007,NaN
216,Zimbabwe,ZWE,0.188421,0.217872,0.267773,0.330935,0.398216,0.437130,0.431837,0.436438,0.435160,0.517746,0.667887,0.801137,0.853970,0.776407,0.635213,0.563726,0.621752,0.674122,0.781478,0.828632,0.878382,0.864148,0.675147,0.656381,0.689068,0.711127,0.855315,0.852957,0.640197,0.685801,0.668996,0.677738,0.634212,0.572759,0.580560,0.575522,0.544390,0.529195,0.441570,0.966579,1.204166,1.410192,1.711485,1.909102,1.949552,1.996312,2.054868,2.281301,3.100052,NaN

In [61]:
# Write to .csv file for reading
# file_path = os.path.join('Resources','GDP_1970_to_2018.csv')
# gdp_clean_df.to_csv(file_path, index = False)

In [ ]:
# Bring in latitudes and longitudes for the countries
from config import g_key
import requests
import json

country_Lat_Lng_df = pd.DataFrame({'Country Name':[],\
                               'Latitude':[],\
                               'Longitude':[]})
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

request_counter = 0
for a_country in list(gdp_clean_df['Country Name']):
    params = {"address": a_country, "key": g_key}
    response = requests.get(base_url, params=params)
    response = response.json()
    
#     print(a_country)
    if response:
        try:
            latitude = (response['results'][0]['geometry']['location']['lat'])
            longitude = (response['results'][0]['geometry']['location']['lat'])

            response_items_df = pd.DataFrame([[a_country, \
                                              latitude, \
                                              longitude]], columns=list(country_Lat_Lng_df.columns))

            country_Lat_Lng_df = country_Lat_Lng_df.append(response_items_df)
        except:
            continue
    else:
        print(f'{a_country} not found. Skipping')
        continue
    
    request_counter = request_counter + 1
#     if (request_counter == 10):
#         break

In [68]:
country_Lat_Lng_df.head()

     Country Name   Latitude  Longitude
0     Afghanistan  33.939110  33.939110
0         Albania  41.153332  41.153332
0         Algeria  28.033886  28.033886
0  American Samoa -14.270972 -14.270972
0         Andorra  42.506285  42.506285

In [71]:
# Merge the two dfs and write out as .csv file
gdp_clean_df = pd.merge(gdp_clean_df,country_Lat_Lng_df, on='Country Name')
gdp_clean_df.head()

In [ ]:
# Write out as a .csv file to read for later analysis
# file_path = os.path.join('Resources','GDP_1970_to_2018_wLatLng_TEST.csv')
# gdp_clean_df.to_csv(file_path)